/* Navbar-section-style */
ul li{
    margin: 20px;
}
.menu{
    display: flex;
list-style: none;
margin-left: 20px;
}

.banner-navbar-section{
    background: rgba(255, 144, 14, 0.1);
}
.navbar-main{
    display: flex;
    justify-content: space-evenly;
}
.group-archite{
    text-align: center;
}
.explore-btn{
    margin: 35px;
    width: 180px;
    height: 65px;
    background: #FF900E;
    color: #FFFFFF;
border-radius: 8px;
}
.banner-pic{
    width: 1040px;
height: 500px;
}

 /* Team section and Features */

 .team-pic-fratures{
    display: flex;
    align-items: center;
     margin: 80px; 
     gap: 50px;
 }
.team-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.single-team-pic{
    padding: 5px;
    border-radius: 5px;
}
.quick-list-color{
color: #727272;
}
.features-color{
    color: #FF900E;
}
/* Lovely and enjoyable features */
.features-main-section{
    display: flex;
    align-items: center;
    gap: 50px;
    
    margin: 80px;
}
.description-box{
    border: 0px solid;
    padding: 10px;
    margin: 20px 0px;
    box-shadow: 1px 2px 2px 2px #f9f5f5;
  }
  .architect-img{
    width: 50%;
   
  }
  .heading-and-discription{
    padding-top: 80px;
  }
  .btn-exp{
  display: flex;
  align-items: center;
  justify-content: center;
    margin: auto;
   position: relative;
   top: -150px;
    padding: 10px;
    text-align: center;
    border: 0px solid #FF900E;
    background-color: #FF900E;
    border-radius: 5px;
    width: 180px;
    height: 100px;
    
  }
  
  



